<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=MARCELO-HP;User ID=sa;Password=mestre" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
